version: ~> 1.0
dist: bionic
language: python
python: 3.7
cache:
  pip: true
install:
  - nvm install
  - npm ci
  - pip install -r requirements.txt
script:
  # Test Git hooks in CI, to make sure script upgrades do not break them.
  - ./.githooks/deploy.sh
  - npm run test:ci
notifications:
  email: false
