*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #252525;
}

html,
body,
body > div {
  margin: 0;
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: inherit;
}

p:empty::before,
h1:empty::before,
h2:empty::before,
h3:empty::before,
h4:empty::before,
h5:empty::before,
h6:empty::before,
li:empty::before {
  content: " ";
  display: inline-block;
  height: 1em;
}

h1 {
  margin: 0.5em 0;
}

.Draftail-Editor .DraftEditor-editorContainer {
  font-family: Georgia, serif;
}

blockquote {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-left: 1em;
  margin: 1rem 0;
  border-left: 4px solid rgba(170, 170, 170, 0.5);
}
